---
import 'bulma/css/bulma.css'
const { title } = Astro.props
---
<!DOCTYPE html>
<html lang="fr" style="height: 100%">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content={Astro.generator}/>
        <title>{title}</title>
    </head>
    <body>
        <div>
            <slot/>
        </div>
    </body>
</html>

<style>
    body{
        height:100%;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>

<script>
    import {ConnexionApi} from "../api/ConnexionApi";
    import AuthUtil from "../util/AuthUtil";

    function redirect(){
        const api = new ConnexionApi()
        const path = window.location.pathname

        if (path == "/"){
            try {
                api.getRole(api.getTokenCookie()).then((role)=>{
                    AuthUtil.loginRedirection(role)
                })
            } catch (e){

            }
        } else {
            if (!api.havePermission(path)){
                     document.location.href="/"
            }
        }

    }



    redirect()
</script>